<html xmlns="http://www.w3.org/1999/html">
    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>


        <!-- https://developers.google.com/maps/documentation/javascript/ -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&v=3.exp&libraries=visualization"></script>

        <!-- include library for graph -->
         <!-- Plotly.js -->
       <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- http://getbootstrap.com/ -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">

        <!-- http://stewartjpark.com/Flask-JSGlue/ -->
        {{ JSGlue.include() }}

        <!-- app's own CSS -->
        <link href="../static/styles.css" rel="stylesheet"/>

        <!-- app's own JavaScript -->
        <script src="../static/script.js"></script>

        <title>Disease Map</title>

    </head>
    <body>
        <h2 style="font-size:45px;text-align: center;">HEALTH AND FAMILY WELFARE</h2>
           <h2 style="text-align: center;font-size: 25px;margin-top:7px; ">DISEASE MAP</h2>
           <br>
        <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->

        <form align="center">

        Disease Name :  <select id="disease">
          <!-- <option value="all"> All </option>

            <option value="typhoid"> Typhoid </option>
            <option value="dengue"> Dengue </option>
            <option value="cholera"> Cholera </option>
            <option value="hepatitis"> Hepatitis </option>-->
            <option value="malaria"> Malaria </option>
                        </select>

            Month : <select id="month">
            <option value="8"> August 2017</option>
            <option value="9">September 2017</option>
         <!--   <option value="december"> December 2017</option>-->
        </select>
          Week : <select id="week">
              <option value="1">Week1</option>
              <option value="2">Week2</option>
              <option value="3">Week3</option>
              <option value="4">Week4</option>

          </select>

          District : <select id="district">
             <option value="ahmedabad">Ahmedabad</option>
         </select>
         Taluka Name:<select id="taluka">
             <option value="ahmedabad_city">Ahmedabad_city</option>
             <option value="bavla">Bavla</option>
             <option value="barwala">Barwala</option>
             <option value="daskroi">Daskroi</option>
            <option value="detroj-rampura">Detroj-Rampura</option>
            <option value="dhandhuka">Dhandhuka</option>
            <option value="dholka">Dholka</option>
            <option value="mandal">Mandal</option>
            <option value="ranpur">Ranpur</option>
            <option value="sanand">Sanand</option>
 <option value="viramgam">Viramgam</option>


         </select>
         Age : <select id="age">
             <option value="all">All</option>
             <option value="age0_5">Age 0-5</option>
             <option value="age5_15">Age 5-15</option>
             <option value="age15_55">Age 15-55</option>
         </select>
        </select>

         <!--        Taluka Name : <input type="text" id="taluka">-->
        <button class="btn btn-primary" id="submit_form">Show</button>

        </form>
        <br>
        <div id="map-canvas"></div>
        <hr />
      <!--   includin code nfprmgraph
 -->

  <button onclick="return tabular();">linear graph</button>
  <button onclick="return linear();">tabular graph</button>

  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    <!-- JAVASCRIPT CODE GOES HERE -->
  function tabular(){
// var trace1 = {
//   x: [1, 2, 3, 4],
//   y: [10, 15, 13, 17],
//   mode: 'markers',
//   marker: {
//     color: 'rgb(219, 64, 82)',
//     size: 12
//   }
// };

var august1 = {
  x: ['week1', 'week2', 'week3','week4'],
  y: august,
  name:'august',
  mode: 'lines',
  line: {
    color: 'rgb(55, 128, 191)',
    width: 3
  }
};

var september1 = {
 x: ['week1', 'week2', 'week3','week4'],
 y:september,
  name:'september',
  mode: 'lines+markers',
  marker: {
    color: 'rgb(128, 0, 128)',
    size: 8
  },
  line: {
    color: 'rgb(128, 0, 128)',
    width: 1
  }

};

var data = [august1,september1];

var layout = {
  title: 'Line and Scatter Styling'
};

Plotly.newPlot('myDiv', data, layout);
return true;
}  </script>

    <!-- new div -->
    <br>
    <br>
     <p style="text-align: center;font-size: 20px;">Tabular Graph<p>
     <div id="myDiv1"><!-- Plotly chart will be drawn inside this DIV --></div>

  <script>
    <!-- JAVASCRIPT CODE GOES HERE -->
function linear(){
var trace1 = {
    x: ['week1', 'week2', 'week3','week4'],
  y: august,
  name: 'August',
  type: 'bar'
};

var trace2 = {
     x: ['week1', 'week2', 'week3','week4'],
 y:september,
  name: 'september',
  type: 'bar'
};

var data = [trace1, trace2];
var layout = {barmode: 'group'};

Plotly.newPlot('myDiv1', data, layout);

return true;
}
  </script>


    </body>
</html>